/* src/components/learn-more/LearnMore.css */

.learn-more-content {
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

.section img {
    margin-top: 10px;
    max-width: 100px;
}